<a href="https://colab.research.google.com/github/andreyFernandoSoares/python-pandas/blob/main/Pandas_Nv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Relatório de Analise I**

In [7]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv')

df

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [11]:
df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [22]:
df.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [26]:
tipos_de_dados = pd.DataFrame(df.dtypes, columns= ['Tipos de Dados'])

tipos_de_dados.columns.name = 'Variaveis'

tipos_de_dados

Variaveis Tipos de Dados
movieId            int64
title             object
genres            object

In [27]:
df.shape

(9742, 3)

In [30]:
df.shape[0]

9742

In [31]:
df.shape[1]

3

In [32]:
print('A base de dados apresenta {} registros e {} variaveis'.format(df.shape[0], df.shape[1]))

A base de dados apresenta 9742 registros e 3 variaveis

In [68]:
# pd.read_json() -- para json
# pd.read_table() -- para txt 
# pd.read_excel() -- para xlsx
# pd.read_html() -- para html
# pd.read_csv() -- para csv

In [65]:
df_html = pd.read_html('https://coinmarketcap.com/all/views/all/')

In [67]:
df_html[2]

     Rank           Name Symbol  ...    % 24h     % 7d Unnamed: 10
0       1        Bitcoin    BTC  ...    4.41%   13.43%         NaN
1       2       Ethereum    ETH  ...    1.81%   28.91%         NaN
2       3            XRP    XRP  ...   30.20%  121.80%         NaN
3       4         Tether   USDT  ...    0.05%   -0.05%         NaN
4       5   Bitcoin Cash    BCH  ...   16.42%   35.16%         NaN
..    ...            ...    ...  ...      ...      ...         ...
195   196           Orbs   ORBS  ...    3.21%    6.23%         NaN
196   197    LTO Network    LTO  ...    1.27%   43.96%         NaN
197   198           Hxro   HXRO  ...  -12.49%  -17.44%         NaN
198   199       Bytecoin    BCN  ...   11.85%   17.67%         NaN
199   200  Thunder Token     TT  ...    7.20%    7.14%         NaN

[200 rows x 11 columns]

In [59]:
new_df = df_html[2][['Name', 'Market Cap', 'Price', 'Volume (24h)']]
new_df.head()

           Name        Market Cap       Price      Volume (24h)
0       Bitcoin  $356,428,077,939  $19,211.45   $56,256,801,502
1      Ethereum   $68,568,637,750     $603.82   $30,033,999,699
2           XRP   $30,503,226,041   $0.672644   $31,341,015,510
3        Tether   $18,650,964,219   $0.999811  $110,425,357,579
4  Bitcoin Cash    $6,367,003,134     $342.65    $8,621,347,407

In [66]:
new_df = new_df.rename(columns = {'Name':'Nome', 'Price':'Preço', 'Volume (24h)':'Volume', 'Market Cap':'Cap de Mercado'})
new_df.head(4)

       Nome    Cap de Mercado       Preço            Volume
0   Bitcoin  $356,428,077,939  $19,211.45   $56,256,801,502
1  Ethereum   $68,568,637,750     $603.82   $30,033,999,699
2       XRP   $30,503,226,041   $0.672644   $31,341,015,510
3    Tether   $18,650,964,219   $0.999811  $110,425,357,579